.carta{
    /* display : flex; */
    margin : 2 auto;
    width : 60vw;
    height : 60vh;

}

#picture div img{
    padding:5px;
    width:160px;
    height:160px;
    align-content: center;
}

#pontos{
    border:none;
}

#modalregrasfiguras li img{
    width:50px;
    height:50px;
    display:inline-flex;

}

